<h1>Crear Reservas de Citas para Campaña</h1>
<form (ngSubmit)="crearServicioSalud()" #contrataForm="ngForm">

    <div class="form-group">
        <label for="name">Cantidad de Citas a Reservar</label>
        <input type="number" class="form-control" id="cant"
               required
               [(ngModel)]="this.cantidadCitasACrear" name="cant"
               #cant="ngModel">
    
      </div>



        <div class="form-group">
            <label for="power">Servicio a Solicitar</label>
            <select class="form-control" id="servicio"
                    required
                    [(ngModel)]="this.cita.idServicio" name="servicio"
                    #power="ngModel">
                    <ng-container  *ngFor="let servicio of Servicios">
                        <option [value]="servicio.ID">{{servicio.NOMBRE}}</option>
                    </ng-container>
            </select>
          </div>
          <div class="form-group">
              <label for="power">Medico a Solicitar</label>
              <select class="form-control" id="medico"
                      required
                      [(ngModel)]="this.cita.idMedico" name="medico"
                      #power="ngModel">
                      <ng-container  *ngFor="let medico of Usuarios">
                          <option *ngIf="medico.TIPO == 'medico'" [value]="medico.USERNAME">{{medico.NOMBRE}}</option>
                      </ng-container>
              </select>
          </div>


  <button type="submit" class="btn btn-success" [disabled]="!contrataForm.form.valid ">Crear</button>

</form>